@charset "UTF-8";
/*Variables*/
/*я вычислил, что 12px промежуток это 15% от 80рх ширины
то же и 9рх - 15% от 60рх. Значит ширина колонны -
12х + 11 * 0.15х = 100%
Х = 7.32601%*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  /*Сделал 1rem = 10px для удобства подсчетов*/
  font-size: 62.5%; }

.flex-container {
  position: relative;
  min-width: 81.9rem;
  max-width: 109.2rem;
  width: 90%;
  height: 100vh;
  margin: 0 auto; }

.pseudo_row {
  position: absolute;
  height: 100%;
  width: 100%;
  color: orange; }

/*Общие настройки для всех колонок сетки*/
[class^="col-"] {
  float: left;
  /*Убираем отступ у последнего элемента*/ }
  [class^="col-"]:not(:last-child) {
    margin-right: calc(7.32601% * .15); }

.col-1-of-12 {
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  width: 7.32601%;
  height: 100%; }

.top {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center; }
  .top .jino-small-logo {
    float: left;
    height: 1.4rem; }
  .top .top_domain {
    margin-left: 1rem;
    width: 1.2rem;
    float: left; }
  .top .top_center-txt {
    width: 1.2px; }

.header {
  /*убираем отступ для фона*/
  background-image: url(../img/background1.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

.domain_check .domain_check-label {
  display: none; }

.nav_indicators {
  position: absolute;
  right: 2.8rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: center; }
  .nav_indicators .nav_indicator {
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #333;
    margin-bottom: 1.6rem; }
  .nav_indicators .nav_indicator-active {
    background-color: #333333;
    border: 2px solid #fff; }
