/*Variables*/
$container-width: 90%;

$row-max-width: 109.2rem;
$row-medium-width: 95.55rem;
$row-min-width: 81.9rem;

$item-max-margin: 6px;
$item-medium-margin: 5.25px;
$item-min-margin: 4.5px;

$column-width: 7.32601%;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*General settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /*Сделал 1rem = 10px для удобства подсчетов*/
  font-size: 62.5%;
}

body {
  font: 1.4rem "PT Sans",Arial,Helvetica,sans-serif;
}

/*Utility classes*/

.u-hide {
  display: none !important;
}

.u-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.u-btn {
  position: absolute;
  right: 0;
  border: 2px solid #333;
  color: #333;
  padding: .5rem;

  &:hover {
    background-color: rgba(51, 51, 51, 0.49);
    color: #fff;
    border: 2px solid #fff;

  }

  &:active {
    transform: translateY(2px);
  }
}
